
@import "./variables";

*{padding:0;margin:0;}
body{font-size: $body-font-size;    background-color: #f7f7f7;height:100vh;overflow:hidden;}
.page{padding:10px;}
.router-link{
  text-decoration: none;
}
